<!DOCTYPE html>
<html lang="en">

        <head>
                <!-- Meta tags -->
                <meta charset="UTF-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">
                <meta name="description" content="Ocean Life: Ayuda al cuidado y preservación de especies marinas">
                <meta name="keywords" content="oceano, pesca, preservacion, especies">
                <!-- Bootstrap -->
                <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
                        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
                        crossorigin="anonymous">
                <!-- CSS -->
                <link href="../styles/style.css" rel="stylesheet">
                <!-- Icon -->
                <link href="../assets/img/icono.png" rel="shortcut icon">
                <!-- Fonts -->
                <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
                        rel="stylesheet">
                <title>Identificar Especie</title>
        </head>

        <body>
                <!-- Navbar -->
                <nav class="navbar navbar-expand-lg navbar-dark bg-nav shadow-sm fixed-top" id="navbar">
                        <div class="container">
                                <a class="navbar-brand" href="../index.html">
                                        <img src="../assets/img/logo.png" alt="Logo Ocean Life">
                                </a>
                                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                                        aria-label="Toggle navigation">
                                        <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarNav">
                                        <ul class="navbar-nav ms-auto">
                                                <li class="nav-item">
                                                        <a class="nav-link" href="../index.html">Inicio</a>
                                                </li>
                                                <li class="nav-item">
                                                        <a class="nav-link" href="#buscar-especie">Reportar
                                                                Problemática</a>
                                                </li>
                                                <li class="nav-item">
                                                        <a class="nav-link" href="#Resultado">Resultado</a>
                                                </li>
                                        </ul>
                                </div>
                        </div>
                </nav>
                <!-- Fin navbar -->

                <!-- Buscar especie -->
                <section id="buscar-especie">
                        <div class="container buscar-especie py-5">
                                <div class="section-title text-center">
                                        <h2>
                                                <bold>Reporte</bold>
                                        </h2>
                                </div>
                                <div class="row">
                                        <div class="col-lg-12">

                                                <form class="row bg-azul rounded-3 p-3">
                                                        <div class="mb-3 col-md-6">
                                                                <label for="select-problematca"
                                                                        class="form-label">Problemática</label>
                                                                <select name="select" id="select-problematca"
                                                                        class="form-control mb-3">
                                                                        <option value="otro">Otro</option>
                                                                        <option value="Derreame tóxico">Derreame tóxico
                                                                        </option>
                                                                        <option value="Pesca ilegal">Pesca ilegal
                                                                        </option>
                                                                        <option value="Sargazo">Sargazo</option>
                                                                        <option value="Contaminación">Contaminación
                                                                        </option>
                                                                        <option value="Avistamiento de plástic">
                                                                                Avistamiento de plástico
                                                                        </option>
                                                                        <option value="Especie invasora">Especie
                                                                                invasora
                                                                        </option>
                                                                </select>

                                                                <label for="problematicaOtra"
                                                                        class="form-label">Problemática
                                                                        <span>Otra</span>
                                                                </label>
                                                                <input type="text" class="form-control mb-3"
                                                                        id="problematicaOtra"
                                                                        placeholder="En caso de poner otra...">

                                                                <label for="descripcion"
                                                                        class="form-label">Descripción:</label>
                                                                <textarea name="textarea" rows="5" cols="50"
                                                                        id="descripcion"
                                                                        class="form-control">Describe lo ocurrido...</textarea>


                                                        </div>
                                                        <div class="mb-3 col-md-6">
                                                                <label for="especie" class="form-label">Especie</label>
                                                                <input type="text" class="form-control mb-3"
                                                                        id="titulo">

                                                                <label for="latitud" class="form-label">Latitud</label>
                                                                <input type="text" class="form-control mb-3" id="lugar">

                                                                <label for="longitud" class="form-label">Longitud</label>
                                                                <input type="text" class="form-control mb-3" id="lugar">

                                                                <label for="fecha" class="form-label">Fecha</label>
                                                                <input type="date" class="form-control mb-3" id="fecha">

                                                                <label for="hora" class="form-label">Hora</label>
                                                                <input type="time" class="form-control" id="hora">
                                                        </div>


                                                        <div class="col-md-12 mb-3">
                                                                <div class="col-md-6  col-buscar">
                                                                        <label for="capture"
                                                                                class="form-label">Foto</label>
                                                                        <input type="file" accept="image/*" id="capture"
                                                                                class="form-control" capture="camera"
                                                                                required>
                                                                </div>
                                                        </div>
                                                        <div class="col-12 text-center">
                                                                <button id="button"
                                                                        class="btn btn-primary btn-md btn-buscar"
                                                                        type="submit" name="action">Agregar
                                                                        Reporte</button>
                                                        </div>
                                                </form>
                                                <br>
                                        </div>
                                </div>
                        </div>
                </section>
                <!-- Fin Buscar Especie -->

                <!-- Footer -->
                <footer class="bg-nav text-center pb-2">
                        <img src="../assets/img/logo.png" alt="Logo Ocean Life">
                        <p>Ayuda al cuidado y preservación de especies marinas.</p>
                </footer>
                <!-- Fin Footer -->

                <!-- Bootstrap Bundle with Popper -->
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js "
                        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p "
                        crossorigin="anonymous "></script>

        </body>

</html>
